.KeyPad {
  height: 80%;
  background-color: hsl(0, 0%, 90%);
  display: grid;
  grid-template-areas:
          "sev eig nin del cle"
          "fou fiv six mul div"
          "one two thr add sub"
          "neg zer dec equ equ";
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 24.2%;
  gap: .8vh;

  @media (orientation: portrait) {
    grid-template-areas:
            "cle del div mul"
            "sev eig nin sub"
            "fou fiv six add"
            "one two thr equ"
            "neg zer dec equ";
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 19.2%;
  }
}


.Key {
  padding: 0;
  border: none;
  border-radius: 1px;
  font-size: 5vh;
  color: black;
  box-shadow: 0 .2vh .5vh hsl(0, 0%, 40%);

  @media (orientation: landscape) {
    font-size: 7vh;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    color: white;
  }
}

@mixin buttonStyle($h, $s, $l) {
  background-color: hsl($h, $s, $l);

  &:hover {
    background-color: hsl($h, $s, $l - 15%);
    box-shadow: hsl(0, 0%, 35%);
  }

  &:active {
    box-shadow: none;
  }
}

.clear {
  @include buttonStyle(10, 100%, 70%);
}

.delete {
  @include buttonStyle(30, 100%, 70%);
}

.digit {
  @include buttonStyle(0, 0%, 70%);
}

.equals {
  @include buttonStyle(200, 100%, 70%);
}

.operator {
  @include buttonStyle(150, 50%, 60%);
}

$keys: "clear", "delete", "divide", "multiply", "subtract", "add", "equals",
"negate", "decimal", "one", "two", "three", "four", "five", "six", "seven",
"eight", "nine", "zero";

@each $key in $keys {
  ##{$key} {
    grid-area: #{str_slice($key, 1, 3)};
  }
}
