* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.App {
    height: 100vh;
}

.Display {
    width: 100%;
    height: 20%;
    padding: 0 20px;
    background-color: silver;
}

.Expression {
    height: 50%;
    font-size: 5vh;
    line-height: 2;
    padding-left: 30px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.Input {
    height: 50%;
    font-size: 7vh;
    line-height: 1.5;
    text-align: right;
}

.KeyPad {
    height: 80%;
    background-color: hsl(0, 0%, 10%);
    display: grid;
    grid-template-areas:
            "sev eig nin del cle"
            "fou fiv six sub div"
            "one two thr add mul"
            "zer zer dec equ equ";
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 24.2%;
    gap: 1%;

    @media (orientation: portrait) {
        grid-template-areas:
                "cle del div mul"
                "sev eig nin sub"
                "fou fiv six add"
                "one two thr equ"
                "zer zer dec equ";
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 19.2%;
    }
}


.Key {
    padding: 0;
    border: none;
    border-radius: 10vh;
    font-size: 8vh;
    color: white;

    @media (orientation: portrait) {
        font-size: 5vh;
    }

    &:focus {
        outline: none;
        border: 4px solid hsl(0, 0%, 10%);
    }

    &:hover {
        color: black;
    }
}

@mixin buttonStyle($h, $s, $l) {
    background-color: hsl($h, $s, $l);

    &:hover {
        background-color: hsl($h, $s, $l + 30%);
    }

    &:active {
        background-color: hsl($h, $s, $l + 15%);
    }
}

.clear {
    @include buttonStyle(10, 100%, 40%);
}

.delete {
    @include buttonStyle(30, 100%, 40%);
}

.digit {
    @include buttonStyle(0, 0%, 40%);
}

.equals {
    @include buttonStyle(200, 100%, 40%);
}

.operator {
    @include buttonStyle(150, 50%, 40%);
}

$keys: "clear", "delete", "divide", "multiply", "subtract", "add", "equals",
    "one", "two", "three", "four", "five", "six", "seven", "eight", "nine",
    "zero", "decimal";

@each $key in $keys {
    ##{$key} {
        grid-area: #{str_slice($key, 1, 3)};
    }
}
